---
layout: default
---
<!-- _layouts/cv.default -->
        <div class="post">

	<object data="../assets/pdf/Resume_GC_0224.pdf#pagemode=none" width="750" height="1000" type='application/pdf'></object>

        </div>
